


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




/* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

  
.box {
  display: block;
}

.pink {
  background-color: yellow;
}

.AvServComp  { 
  margin: 10px;
}

.BannerPText {
  color: whitesmoke;
  font-size: 2vh;
  text-align: center;
}

.swotitle {
  font-size: 4vh;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.colors {
  background-color: whitesmoke;
}

.colorsTwo {
  background-color: rgba(59, 84, 117, 0)

}

.colorsThree {
  background-color: whitesmoke;
}


.carouselPtag {
  text-align: center;
  color:#ffc5c7;
  font-size: large;
}

.windows {

  padding-top: 50px;
}

.liveAgentTitle {

  font-size: 4vh;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
 
.greenPrice {
color: s#ee6e73;
}

.mapframe {

  width: 100%;
  height: 50vh;
  border: 0;
  padding: 0;
}

.bannerImage {

}
.call {
  padding: 10PX,5px,5px,0px;
  background-color: rgb(252, 252, 253);
  width: 120px;
  height: 62px;
  border: 20px;
  box-shadow: whitesmoke;
  opacity: 90%;
  border-radius: 2px;
  display: inline-block;
  color: #F2AFAF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navcolor {

  background-color: #ee6e73;
}

#SideNavMenuColor {

  color: white;
}

.buttons {
  background-color:rgb(228, 167, 77);
  color: black;
  border: 2px solid white; /* Green */
  border-radius: 5;
  width: 200px;
  height: 50px;
  margin-top: 20%;
}
.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: white;/* Green */
  color: rgb(228, 167, 77);
  transition-duration: 0.4s;
}


.center1 {
  padding-top: 40%;
}
.center2 {
  padding-top: 20%;
}
.center3 {
  padding-top: 60%;
}

.light1 {
  padding-top: 10%;
}

.light2 {
  padding-top: 5%;
}
